@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .font-tektur {
    font-family: var(--font-tektur);
  }
  .font-space-grotesk {
    font-family: var(--font-space-grotesk);
  }
}
